{# this is for an ERB leaf, covering ex4400 and qfx5120 to start #}
system {
    host-name {{ USERINPUT['hostname'] }};
    auto-snapshot;
    time-zone {{ GLOBAL['timezone'] }};
    root-authentication {
        encrypted-password "{{ CREDS['root'] }}";
    }
    commit {
        synchronize;
        no-delta-synchronize;
    }
    login {
        message "{{ GLOBAL['loginmsg'] }}";
        retry-options {
            tries-before-disconnect 3;
            backoff-threshold 1;
            backoff-factor 6;
            minimum-time 30;
        }
        class SUPER-USER-REMOTE {
            idle-timeout 10;
            permissions all;
        }
        user remote {
            full-name Radius-Null-User;
            uid 9999;
            class SUPER-USER-REMOTE;
        }
{% for USER in CREDS['users'] %}
        user {{ USER['name'] }} {
            uid {{ USER['uid'] }};
            class {{ USER['class'] }};
            authentication {
{% for AUTH in USER['auth'] %}
                {{ AUTH['authtype'] }} "{{ AUTH['authvalue'] }}";
{% endfor %}
            }
        }
{% endfor %}
    }
    services {
        ssh {
            root-login {{ GLOBAL['root-login'] }};
            protocol-version v2;
            connection-limit {{ GLOBAL['ssh-connection-limit'] }};
            rate-limit {{ GLOBAL['ssh-rate-limit'] }};
        }
        netconf {
            ssh {
                connection-limit {{ GLOBAL['nc-connection-limit'] }};
                rate-limit {{ GLOBAL['nc-rate-limit'] }};
            rfc-compliant;
            yang-compliant;
            }
        }
    }
    internet-options {
        tcp-drop-synfin-set;
    }
    authentication-order password;
    ports {
        console log-out-on-disconnect;
        auxiliary {
            disable;
            insecure;
        }
    }
    syslog {
        user * {
            any emergency;
        }
{% for syslog in GLOBAL['syslog']%}
        host {{ syslog }} {
            any notice;
            authorization any;
            firewall any;
            interactive-commands any;
            structured-data;
        }
{% endfor %}
        file messages {
            any any;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    name-server {
{% for d in GLOBAL['dns']%}
        {{ d }};
{% endfor %}
    }
    ntp {
{% for NTP in GLOBAL['ntp'] %}
        server {{ NTP }};
{% endfor %}
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count {{ USERINPUT['ae-count'] }};
        }
    }
}

interfaces {
{% for INTS in USERINPUT['uplinks'] %} {# begin uplinks #}
    {{ INTS['int'] }} {
        description "{{ INTS['description'] }}";
{% if INTS['vlan-tagging'] == True %}
        vlan-tagging;
{% endif %}
        mtu {{ INTS['mtu'] }};
{% for UNITS in INTS['unit'] %}
        unit {{ UNITS['id'] }} {
{% if INTS['vlan-tagging'] == True %}
            vlan-id {{ UNITS['vlan-id'] }};
{% endif %}
            family inet {
                address {{ UNITS['addr-v4'] }}/{{ UNITS['bitmask'] }};
            }
{% if not UNITS['addr-v6'] == False %}
            family inet6 {
                address {{ UNITS['addr-v6'] }}/{{ UNITS['v6-bitmask'] }};
            }
{% endif %}
        }
{% endfor %}
    }
{% endfor %} {# end uplinks #}
    vme {
        unit 0 {
            family inet {
                address {{ USERINPUT['mgmt-addr'] }}/{{ USERINPUT['bitmask'] }};
            }
        }
    }
    irb {
        {# gratuitous-arp-reply;   ### is this needed? #}
{% if USERINPUT['datavlans'] is defined %}
{% for IRB in USERINPUT['datavlans'] %}{% if IRB['l3-enabled'] == True %}
        unit {{ IRB['id'] }} {
            description "{{ IRB['description'] }}";
            family inet {
                address {{ IRB['ip-prefix'] }}.{{ IRB['irb-hostbit'] }}/{{ IRB['bitmask'] }};
            }
{% if not IRB['ip6-prefix'] == False %}
            family inet6 {
                address {{ IRB['ip6-prefix'] }}{{ IRB['irb-hostbit'] }}/{{ IRB['ip6-bitmask'] }};
                address {{ IRB['ip6-ll'] }}{{ IRB['irb-hostbit'] }}/64;
            }
{% endif %}
            mac {{ IRB['any-mac'] }};
        }
{% endif %}{% endfor %}{% endif %}
{%if GLOBAL['datavlans'] is defined %}
{% for IRB in GLOBAL['datavlans'] %}{% if IRB['l3-enabled'] == True %}
        unit {{ IRB['id'] }} {
            description "{{ IRB['description'] }}";
            family inet {
                address {{ IRB['ip-prefix'] }}.{{ IRB['irb-hostbit'] }}/{{ IRB['bitmask'] }};
            }
{% if not IRB['ip6-prefix'] == False %}
            family inet6 {
                address {{ IRB['ip6-prefix'] }}{{ IRB['irb-hostbit'] }}/{{ IRB['ip6-bitmask'] }};
                address {{ IRB['ip6-ll'] }}{{ IRB['irb-hostbit'] }}/64;
            }
{% endif %}
            mac {{ IRB['any-mac'] }};
        }
    }
{% endif %}{% endfor %}{% endif %}
    lo0 {
{% for LOOP in USERINPUT['loopbacks'] %}
        unit {{ LOOP['id'] }} {
            family inet {
{% if not LOOP['filter-v4'] == False and not GLOBAL['IPv4-lo0-filter'] == False %}
                filter {
                    input {{ LOOP['filter-v4'] }};
                }
{% endif %}
                address {{ LOOP['addr-v4'] }}/32;
            }
{% if not LOOP['addr-v6'] == False %}
            family inet6 {
{% if not LOOP['filter-v6'] == False and not GLOBAL['IPv6-lo0-filter'] == False %}
                filter {
                    input {{ LOOP['filter-v6'] }};
                }
{% endif %}
                address {{ LOOP['addr-v6'] }}/128;
            }
{% endif %}
        }
{% endfor %}
    }
}

{#  ADD SNMPv3 SECTION HERE #}

forwarding-options {
    storm-control-profiles default {
        all;
    }
    evpn-vxlan {
        shared-tunnels;  {# is this needed #}
    }
    vxlan-routing {
        overlay-ecmp;  {# is this needed #}
    }
}
routing-options {
    static {
{% for SR in GLOBAL['staticroutes'] %}
        route {{ SR }} next-hop {{ USERINPUT['defgw'] }};
{% endfor %}
    }
    router-id{% for LOOP in USERINPUT['loopbacks'] %}{% if LOOP['id'] == 0 %} {{ LOOP['addr-v4'] }}{% endif %}{% endfor %};
    forwarding-table {
        export PFE-LB;
        ecmp-fast-reroute;
    }
}
