    prefix-list MGMT-NETS {
{% for IP in GLOBAL['policy-prefix-list']['mgmt-nets']%}
        {{ IP }};
{% endfor %}
    }
    prefix-list MGMT-NETS-IPV6 {
{% for IP in GLOBAL['policy-prefix-list']['mgmt-nets-ipv6']%}
        {{ IP }};
{% endfor %}
    }
    prefix-list SNMP-SERVERS {
{% for IP in GLOBAL['policy-prefix-list']['snmp-servers']%}
        {{ IP }};
{% endfor %}
    }
    prefix-list BGP-NEIGHBORS {
        apply-path "protocols bgp group <*> neighbor <*>";
    }
    prefix-list BGP-NEIGHBORS-VRF {
        apply-path "routing-instances <*> protocols bgp group <*> neighbor <*>";
    }
    prefix-list BGP-NEIGHBORS-IPV6 {
        apply-path "protocols bgp group <*> neighbor <*:*>";
    }
    prefix-list BGP-NEIGHBORS-IPV6-VRF {
        apply-path "routing-instances <*> protocols bgp group <*> neighbor <*:*>";
    }
    prefix-list NTP-SERVERS {
        apply-path "system ntp server <*>";
    }
    prefix-list DNS-SERVERS {
        apply-path "system name-server <*>";
    }
    prefix-list RADIUS-SERVERS {
        apply-path "system radius-server <*>";
    }
    prefix-list SYSLOG-SERVERS {
        apply-path "system syslog host *";
    }
    prefix-list IPV4-INTERFACES {
        apply-path "interfaces <*> unit <*> family inet address <*>";
    }
    prefix-list IPV6-INTERFACES {
        apply-path "interfaces <*> unit <*> family inet6 address <*>";
    }
    prefix-list LOCALHOST {
        apply-path "interfaces lo0 unit 0 family inet address <*>";
    }
    prefix-list IPV6-LINK-LOCAL {
        fe80::/64;
    }